In [1]:
import pandas as pd
import numpy as np

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

pd.set_option('display.max_columns', None)

#### The Middle - where is the center?
- in statistics we utilize three metrics to get to the center
    - Mean: average value
    - Median: middle value
    - Mode: most common value

In [65]:
data = {
    'data_point': [1, 2, 3, 4, 5, 6, 7, 8, 9],
    'value': [20, 200, 20, 140, 40, 20, 50, 50, 50]
}

df = pd.DataFrame(data)
df

   data_point  value
0           1     20
1           2    200
2           3     20
3           4    140
4           5     40
5           6     20
6           7     50
7           8     50
8           9     50

In [66]:
df['value'].median()

50.0

In [67]:
df['value'].mean()

65.55555555555556

In [68]:
df['value'].mode()

0    20
1    50
Name: value, dtype: int64

#### Variability
- how to descibe how close, or how far away datapoints are from each other:
    - range - is one metrics to describe variability, but it takes only one point to truly exaggerate the range
    - standard deviation - although the range consideres only two data points, the stadard deviations takes all data points
    - outliers - abnormal distance from the other values, though no concrete definition of what outliers is

In [69]:
example = {  'col1': [29, 31],'col2':[20, 40],'col3':[0, 60]   }
example_df = pd.DataFrame(example)
example_df

   col1  col2  col3
0    29    20     0
1    31    40    60

In [70]:
print(   example_df['col1'].mean()   )
print(   example_df['col2'].mean()   )
print(   example_df['col3'].mean()   )

#OK the mean and median is 30, but col1 is very different than col3

30.0
30.0
30.0

In [71]:
# Range - get largest point and subtract it from smallest data point
df['value'].max() - df['value'].min()

180

In [72]:
# Standard Deviation - how far away is the data point away from the mean
std_dev = df['value'].std()  #62.47221604663772
mean = df['value'].mean()
df['z_score'] = (df['value'] - mean ) / std_dev

df

#note how the largest value 200, is two standard deviations away from the mean in positive direction
#the lower the z_score the closer it is to the mean

   data_point  value   z_score
0           1     20 -0.729213
1           2    200  2.152068
2           3     20 -0.729213
3           4    140  1.191641
4           5     40 -0.409071
5           6     20 -0.729213
6           7     50 -0.249000
7           8     50 -0.249000
8           9     50 -0.249000

In [73]:
df['value'].std()

62.47221604663772

#### Note: 
Empiral Rule says in a Normal Distribution:
- 68% of the datapoints fall within 1 standard deviation away from the mean (in positive and negative)
- 95% of the datapoints fall within 2 standard deviations away from the mean
- 99.7% of the datapoints fall within 3 standard deviations away from the mean

- if it is above this 99.7% or above 3 standard deviations then it it is an OUTLIER (note to look for zscore above/below 3.0). But this is not the only method to find an outlier
- don't be too quick to dismiss/remove an outlier. Do the digging, you might be surprised of the findings!