In [3]:
import pandas as pd
import numpy as np

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))

pd.set_option('display.max_columns', None)

#### Intro to Probability
- Probability = Desired Outcome / Possible Outcome
- ##### Classical/Theorethical Probability 
    - when you know all outcomes, you know all possibility: two sides of coin, there are 52 cards in a deck, and every outcome is equally likely
- ##### Empirical Probability 
    - based on experimental or historical data (actual/observed/past events): a customer does online orders 12 times, & of those 9 arrived on time, what is the probability that the next order will arrive on time (9/12=75%)
- ##### Subjective Probability 
    - based on personal belief, not statistics

- ##### Permutations
    - interested in order of things, it matters who got the 10dollars, then 100dollars, then 1000dollars price (in this order)
    - person1, person2, person3, person4, person5 - 5*4*3*2*1 = 120 (120 different ways these persons can finish the race)
    - what if we have 8 person race, but only 3 are awarded, what is permutations? Well, different formula: 
        - 8!/(8-3)! = 8!/5! = 8*7*6*5*4*3*2*1 / 5*4*3*2*1 = 336 different ways for top three spots for eight runners
- ##### Combinations
    - when order doesn't matter, ex. a student chosen at random for newsletter
    - 12 students in class, and one team of 4 will be chosen
        - 12!/[(12-4)!*4!] = 
        12!/[(8!)*4!] = 
        12*11*10*9*8*7*6*5*4*3*2*1 / [(8*7*6*5*4*3*2*1) * (4*3*2*1)] = 495 possible teams of four
        
- no wonder why I have troubles with Probability

- ##### Percentile
    - someone that had annual income of 250k dollars, is in the 95th percentile (aka the top 5%)
    - somone that had annual income of 60k dollars, is in the 50th percentile
    - there are few ways to calculated

In [10]:
#Calculating percentile
data = {'Exam Scores': [75, 90, 95, 100, 75, 90, 95, 95, 75, 85, 95, 95, 70, 85, 90, 95, 55, 80, 90, 95]}

df = pd.DataFrame(data)
#df

In [9]:
n = len(df)

# what percentile is student that scored 85% on their exam?
below_85_count = df[df['Exam Scores'] < 85].shape[0]
percentile = (below_85_count + 0.5) / n
print(percentile) #always round down thus 32, and a student that scored 85% on their exam is in the 32 percentile


#what about a student that got 100% on their exam?
below_100_count = df[df['Exam Scores'] < 100].shape[0]
percentile = (below_100_count + 0.5) / n
print(percentile) # 97th percentile

0.325
0.975

#### Multiple Event Probabilities
- Possibility of two events - add the probabilities and subtract the overlapping outcome
- Conditional probability - use probability trees
- Multiplication - one event has no ties with the outcomes of the second event (they have nothing in common)
- Bayes theorem - 
### I need good examples, likelyhood someone has cancer or not, covid vs cold flue....

In [17]:
data = {  'Milionares_ed_level':['HS_dropout', 'HS_diploma', 'Undergrad', 'Grad'],
           'Percent':[0.05, 0.15, 0.60, 0.20],
           'Inheret':[0.40, 0.20, 0.20, 0.15],
           'Earned':[0.60, 0.80, 0.80, 0.85 ]  }
df = pd.DataFrame(data)
df

  Milionares_ed_level  Percent  Inheret  Earned
0          HS_dropout     0.05     0.40    0.60
1          HS_diploma     0.15     0.20    0.80
2           Undergrad     0.60     0.20    0.80
3                Grad     0.20     0.15    0.85

In [22]:
#Bayes theorem - what is the probability that milionare did not complete HS, given he earned something? Lets say there are 1000 milionares
print(  (0.05 * 0.40) * 1000  )
print(  (0.05 * 0.60) * 1000  )
print()
print(  (0.15 * 0.20) * 1000  )
print(  (0.15 * 0.80) * 1000  )
print()
print(  (0.60 * 0.20) * 1000  )
print(  (0.60 * 0.80) * 1000  )
print()
print(  (0.20 * 0.15) * 1000  )
print(  (0.20 * 0.85) * 1000  )
print()


print( 30 + 120 + 480 + 170  )   #800 earned their money
# and of those 30 did not graduate high school

print( (30/800) * 100 )  #3.75% were high school dropout and earned their money

20.000000000000004
30.0

30.0
120.0

120.0
480.0

30.0
170.0

800
3.75

#### Descrete and Continuous Probability
- Random - 
- Descrete - they are whole numbers, limited outcomes (number of drinks, can't order half a drink), number of text received
- Continous - they can be decimals (height of someone, weight of someone, miles, waiting in line), no limit of possible outcomes
- Binomial - two possible outcomes (coin flips, patient testing positive or negative, voters either voted or didn't)

In [49]:
# Descrete Mean
data = {  'Num_Drinks_Ordered':[0, 1, 2, 3, 4, 5],
           'Num_Customers':[1, 22, 10, 4, 2, 1] }
df = pd.DataFrame(data)
# 22 customers ordered 1 drink, 1 customer ordered 0 drinks (perhaps ordered pastry), 1 customer ordered 5 drinks

df['Relative'] = df['Num_Customers'] / sum(df['Num_Customers'])
df['Weight'] = df['Num_Drinks_Ordered'] * df['Relative']

df

   Num_Drinks_Ordered  Num_Customers  Relative  Weight
0                   0              1     0.025   0.000
1                   1             22     0.550   0.550
2                   2             10     0.250   0.500
3                   3              4     0.100   0.300
4                   4              2     0.050   0.200
5                   5              1     0.025   0.125

In [50]:
print(sum(df['Weight']))  #Mean of this probability distribution
# on average customer orders 1.675 drinks

1.675

In [53]:
df['Mean'] = sum(df['Weight'])
df['Drinks-Mean'] = round(df['Num_Drinks_Ordered'] - df['Mean'], 2)
df['Drinks-Mean-sq'] = round(df['Drinks-Mean'] ** 2, 2)
df['Relative_Drinks_mean_sq'] = round(df['Relative'] * df['Drinks-Mean-sq'], 2)
df

,Num_Drinks_Ordered,Num_Customers,Relative,Weight,Mean,Drinks-Mean,Drinks-Mean-sq,Relative_Drinks_mean_sq
0,0,1,0.025,0.000,1.675,-1.68,2.82,0.07
1,1,22,0.550,0.550,1.675,-0.68,0.46,0.25
2,2,10,0.250,0.500,1.675,0.32,0.10,0.02
3,3,4,0.100,0.300,1.675,1.32,1.74,0.17
4,4,2,0.050,0.200,1.675,2.33,5.43,0.27
5,5,1,0.025,0.125,1.675,3.32,11.02,0.28

In [54]:
print(sum(df['Relative_Drinks_mean_sq'])) # this is the variance
print(np.sqrt(sum(df['Relative_Drinks_mean_sq'])))  #standard deviation is 1.03 drinks

1.06
1.0295630140987

In [55]:
# the Probability is really different animal for me, truly can't grasp it